<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <span class="toolbar-title">Sistema de Reservas</span>
    <div fxHide fxShow.gt-xs fxLayout="row" fxLayoutGap="10px">
      <button mat-button [routerLink]="['/']">Inicio</button>
      <button mat-button [matMenuTriggerFor]="roomsMenu">Salas</button>
      <button mat-button [routerLink]="['/reservations']">Reservaciones</button>
      <ng-container *ngIf="isLoggedIn">
        <button mat-button [routerLink]="['/profile']">
          <mat-icon class="profile-icon">account_circle</mat-icon> Perfil
        </button> <!-- Botón de perfil de usuario con icono -->
      </ng-container>
      <ng-container *ngIf="!isLoggedIn">
        <button mat-button [routerLink]="['/login']">Iniciar Sesión</button> <!-- Botón de iniciar sesión -->
      </ng-container>
    </div>
    <div fxHide fxShow.lt-sm>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/']">Inicio</button>
        <button mat-menu-item [matMenuTriggerFor]="roomsMenu">Salas</button>
        <button mat-menu-item [routerLink]="['/reservations']">Reservaciones</button>
        <ng-container *ngIf="isLoggedIn">
          <button mat-menu-item [routerLink]="['/profile']">
            <mat-icon class="profile-icon">account_circle</mat-icon> Perfil
          </button> <!-- Opción de perfil de usuario en el menú con icono -->
        </ng-container>
        <ng-container *ngIf="!isLoggedIn">
          <button mat-menu-item [routerLink]="['/login']">Iniciar Sesión</button> <!-- Opción de iniciar sesión en el menú -->
        </ng-container>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #roomsMenu="matMenu">
  <button mat-menu-item [routerLink]="['/rooms']">Lista de Salas</button>
  <button mat-menu-item [routerLink]="['/rooms/availability']">Disponibilidad</button>
  <button mat-menu-item [routerLink]="['/rooms/detail']">Detalle de Sala</button> <!-- Ejemplo con variable roomId -->
</mat-menu>