.spacer {
  flex: 1 1 auto;
}

.toolbar-title {
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .toolbar-title {
    font-size: 1.2rem;
  }

  button[mat-button] {
    font-size: 0.8rem;
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

.navbar-buttons-mobile {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}