<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <span class="toolbar-title">Sistema de Reservas</span>
    <div fxHide fxShow.gt-xs fxLayout="row" fxLayoutGap="10px">
      <button mat-button [routerLink]="['/']"><mat-icon>home</mat-icon>Inicio</button>
      <ng-container *ngIf="isLoggedIn">
        <button mat-button [matMenuTriggerFor]="roomsMenu">Salas</button>
      </ng-container>
      <button mat-button [routerLink]="['/reservations']">Reservaciones</button>
      <ng-container *ngIf="isLoggedIn">
        <button mat-button [matMenuTriggerFor]="profileMenu">
          <mat-icon class="profile-icon">account_circle</mat-icon> Perfil
        </button>
        <mat-menu #profileMenu="matMenu">
          <button mat-menu-item [routerLink]="['/profile']">Ver Perfil</button>
          <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
        </mat-menu>
      </ng-container>
      <ng-container *ngIf="!isLoggedIn">
        <button mat-button [routerLink]="['/login']">Iniciar Sesión</button>
      </ng-container>
    </div>
    <div fxHide fxShow.lt-sm>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/']"><mat-icon>home</mat-icon>Inicio</button>
        <ng-container *ngIf="isLoggedIn">
          <button mat-menu-item [matMenuTriggerFor]="roomsMenu">Salas</button>
        </ng-container>
        <button mat-menu-item [routerLink]="['/reservations/create']">Reservaciones</button>
        <ng-container *ngIf="isLoggedIn">
          <button mat-menu-item [matMenuTriggerFor]="profileMenuSm">
            <mat-icon class="profile-icon">account_circle</mat-icon> Perfil
          </button>
          <mat-menu #profileMenuSm="matMenu">
            <button mat-menu-item [routerLink]="['/profile']">Ver Perfil</button>
            <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
          </mat-menu>
        </ng-container>
        <ng-container *ngIf="!isLoggedIn">
          <button mat-menu-item [routerLink]="['/login']">Iniciar Sesión</button>
        </ng-container>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #roomsMenu="matMenu">
  <ng-container *ngIf="userRole === 1">
    <button mat-menu-item [routerLink]="['/rooms']">Lista de Salas</button>
  </ng-container>
  <button mat-menu-item [routerLink]="['/rooms/availability']">Disponibilidad</button>
  <button mat-menu-item [routerLink]="['/rooms/detail']">Detalle de Sala</button>
</mat-menu>