<h2>Mis Reservas</h2>
<ul>
  <li *ngFor="let reservation of reservations">
    Sala {{ reservation.roomId }} reservada desde {{ reservation.startTime | date }} hasta {{ reservation.endTime | date }}
  </li>
</ul>

<div class="container">
  <h1>Prueba de Estilos de Google Material</h1>
  <h2>Subtítulo de Prueba</h2>
  <p>Este es un párrafo de prueba para verificar que las fuentes de Google y los estilos de Material Design se están aplicando correctamente.</p>

  <!-- Botón de Angular Material -->
  <button mat-fab extended color="primary">
    <mat-icon style="font-size: 24px; line-height: 1;">send</mat-icon> <!-- Ajusta el tamaño aquí -->
    Enviar
</button>

  <!-- Iconos de Material Design -->
  <h2>Iconos de Material Design</h2>
  <mat-icon>face</mat-icon>
  <mat-icon>favorite</mat-icon>
  <mat-icon>thumb_up</mat-icon>

  <!-- Ejemplo de Input de Angular Material -->
  <h2>Ejemplo de Input</h2>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="Ingrese su nombre">
  </mat-form-field>
</div>
