    <!-- Sección 1: Consulta de información sobre las salas -->
    <section class="rooms-info">
      <h2>Salas Disponibles</h2>
      <swiper-container [loop]="loop" navigation="true" [breakpoints]="breakpoints">
        <ng-container *ngFor="let room of availableRooms">
          <swiper-slide>
            <mat-card class="room-card">
              <div class="image-container">
                <img mat-card-image [src]="room.img" alt="{{ room.nombre }}">
              </div>
              <mat-card-header>
                <mat-card-title>{{ room.nombre }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>Capacidad: {{ room.capacidad }} personas</p>
                <p>Actividades: {{ room.actividad }}</p>
                <p>Descripción: {{ room.descripcion }}</p>
                <p>Precio: ${{room.precio}}/hora</p>
              </mat-card-content>
            </mat-card>
          </swiper-slide>
        </ng-container>
      </swiper-container>
    </section>

  <!-- Sección 2: Tarifas y horarios -->