/* Aplicar box-sizing a todos los elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Botones */
.btn {
  margin: 10px; /* Espaciado entre botones */
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
