/* Aplicar box-sizing a todos los elementos */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Botones */
.btn {
  margin: 10px; /* Espaciado entre botones */
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-toolbar {
  background-color: #D7E3FF !important; /* Color de fondo de la toolbar */
  color: #005CBB !important; /* Color del texto de la toolbar */
}