.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
}

.available {
  background-color: #d4edda; /* Verde claro */
}

.occupied {
  background-color: #f8d7da; /* Rojo claro */
}

.room-card {
  max-width: 400px;
}

.room-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
}

.room-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.room-card {
  cursor: pointer; /* Cambia el cursor a pointer */
  transition: transform 0.2s ease; /* Suaviza el efecto */
}

.room-card:hover {
  transform: scale(1.02); /* Opcional: Un pequeño efecto de agrandamiento */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Opcional: Sombra para resaltar el card */
}