<mat-toolbar color="primary" class="footer-toolbar">
    <span>© 2024 Mi Aplicación</span>
    <span class="spacer"></span>
    <a mat-icon-button href="https://www.facebook.com" target="_blank" aria-label="Facebook">
      <mat-icon>facebook</mat-icon>
    </a>
    <a mat-icon-button href="https://www.twitter.com" target="_blank" aria-label="Twitter">
      <mat-icon>twitter</mat-icon>
    </a>
    <a mat-icon-button href="https://www.instagram.com" target="_blank" aria-label="Instagram">
      <mat-icon>instagram</mat-icon>
    </a>
  </mat-toolbar>